
.form {
    margin: 6px;
}
.form input, .form button {
    outline: none;
    border: none;
    padding: 6px;
}
.container {
    margin: 0 auto;
    overflow-y: scroll;
    max-height: 400px;
}
.search {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
}
.search button {
    cursor: pointer;
}
.search input {
    width: 100%;
}
.admin_button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #222;
    font-weight: bold;
    cursor: pointer;
    background: #34e734;
}