.user_and_favs {
    display: flex;
    max-width: 1600px;
    margin: 20px auto;
}
.user_infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.user_infos img {
    border: 1px solid #222;
    border-radius: 50%;
    padding: 2px;
}
.favs {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.favs h2 {
    text-align: center;
}
.card_container {
    display: flex;
}
.card {
    max-width: 80px;
    margin: 10px;
    font-weight: bold;
}
.card ul {
    list-style: none;
}
.remove {
    text-align: center;
    cursor: pointer;
    background-color: #ee3838;
}