.mangas {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}
.mangas::-webkit-scrollbar {
    border-radius: 6px; 
}
.mangas::-webkit-scrollbar-thumb {
    background: linear-gradient(15deg, #db0e0e5d, #ffa600c2);
    border-radius: 6px; 
}
.mangas div {
    display: flex;
    margin: 10px;
}
.mangas ul {
    list-style-type: none;
    text-align: start;
}
.mangas ul li {
    margin-left: 10px;
}
.mangas ul li a strong:hover{
    background: linear-gradient(180deg,#ffa600, #db0e0ee7);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    transition: 250ms;
}
.mangas svg {
    font-size: 22pt;
}
