.mangas {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
}
.mangas img {
    border-radius: 2px;
    width: 120px;
    height: auto;
    box-shadow: 0px 0px 10px 1px rgba(20, 20, 20, 0.288)

}
.mangas::-webkit-scrollbar {
    border-radius: 6px; 
}
.mangas::-webkit-scrollbar-thumb {
    background: linear-gradient(15deg, #db0e0e5d, #ffa600c2);
    border-radius: 6px; 
}
.manga {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.manga ul, .manga a {
    color: #222;
}
.manga ul {
    text-align: center;
    list-style: none;
    font-size: 10pt;
    font-weight: bold;
}
.manga ul li {
    width: 120px;
    margin: 2px;
    background: linear-gradient(15deg, #db0e0e, orange) no-repeat fixed;
}
.manga ul li h3 {
    padding: 4px;
    text-align: center;
    width: 100%; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}
