.header {
    width: 100%;
    height: 60px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f2f2f2;
    box-shadow: 0px 0px 10px 1px #222;
    background: linear-gradient(15deg, #db0e0e, orange) no-repeat fixed;
    position: sticky;
    top: 0px;
} 
.logo {
    display: flex;
    align-items: center;
    font-family: cursive;
    color: #f2f2f2;
}
.search {
    width: 50%;
    display: flex;
}
.container {
    position: fixed;
    width: 100%;
    max-height: 400px;
    background-color: #f2f2f2;
    top: 60px;
    overflow-y: scroll;
}
.login {
    font-family: cursive;
    cursor: pointer;
}
.response a {
    color: #222;
}
.card_response {
    display: flex;
    padding: 10px;
}
.card_response:hover {
    transition: 250ms;
    background-color: #00000052;
}
.response ul {
    padding: 10px;
    display: flex;
    flex-direction: column;
    list-style: none;
}
.response img {
    box-shadow: 0px 0px 10px 0.1px #222;
}
@media (max-width: 650px) {
    .name{
        display: none;
    }
    .logo:hover {
        transform: scale(1.1);
        transition: 150ms;
    }
    .search {
        width: 100%;
        padding: 10px;
    }
}


