.list {
    text-align: center;
    position: fixed;
    width: 200px;
    top: 60px;
    right: 0px;
    list-style: none;
    background-color: #f0f0f0;
    color: #000;
    border-bottom-left-radius: 10px;
}
.list a, .list span {
    background: linear-gradient(180deg,#ffa600, #db0e0ee7);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    transition: 250ms;
}