.register_container {
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.message_err {
    font-family: cursive;
    color: #b49191; 
    padding: 1px;
    font-size: 12pt;
    font-weight: bold;
}
.register_container form h1 {
    font-family: cursive;
    margin: 4px;
    color: #f2f2f2;
    text-align: center;
}
.register_container form {
    display: flex;
    flex-direction: column;
    background: #0078d7;
    width: 550px;
    padding: 8px;
    border-radius: 10px;
}
.register_container input, .register_container button {
    border: none;
    outline: none;
    padding: 8px;
    margin: 2px;
}
.register_container button {
    cursor: pointer;
}